[package]
name = "hyasynth-engine"
version = "0.1.0"
edition = "2024"

[lib]
name = "hyasynth"
crate-type = ["staticlib", "cdylib", "rlib"]

[[bin]]
name = "hyasynth-engine"
path = "src/main.rs"

[dependencies]
log = "0.4.29"
oslog = "0.2.0"
